.container{
    width: 100%;
    max-width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(182, 166, 230) ;

}
.btn-cal{
    color:black;
    background-color: gainsboro;
    width:30px;
    height: 30px;
    text-align: center;
  
}